:root {
  --radius: clamp(250px, 40vw, 500px);
}

* {
  margin: 0;
  padding: 0;
}

.banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  perspective: 2000px;
  text-align: center;
  background-color: blanchedalmond;
  
}

.slider {
  list-style: none;
  position: absolute;
  width: 120px;
  height: 150px;
  aspect-ratio: 4/5;
  top: 50%;
  left: calc(50% - 60px);
  transform: translateY(-50%);
  transform-style: preserve-3d;
  z-index: -1;
  cursor: pointer;
}

@media (min-width: 768px) {
  
  .slider {
    width: clamp(120px, 15vw, 200px);
    height: auto;
    left: calc(50% - clamp(60px, 9vw, 100px));
  }

  .slider__title {
    font-size: clamp(5rem, 15vw, 14rem);
    line-height: 0.8;
  }
}

.slider__item {
  position: absolute;
  inset: 0;
  transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) 
             translateZ(var(--radius));
}

.slider__item img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}