body {
  background: rgb(0, 42, 25);
  color: rgb(245, 215, 170);
  font-size: 1rem;
  margin: 0;
}

main {
  height: 100vh;
  overflow: hidden;
  background-image: 
  radial-gradient(rgba(0, 42, 25, 0.4), rgb(0, 19, 12) 90%),
  url("images/bg.webp");
  background-size: cover;
  background-position:center;
}

#heroText {
  text-align: center;
  padding-top: 15vh;
}

h1 {
  font-size: 5rem;
  font-weight: bolder;
  line-height: 0;
  margin-bottom: -0.25rem;
}

h2 {
  font-size: 3rem;
  font-weight: 200;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1.5rem;
}

#images {
  width: 100%;
}

#items {
  transform: scale(1.2);
  filter: contrast(1.4) saturate(0.7) brightness(0.9);
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: end;

}
.leaves {
  margin: 0 -1rem;
}

.leaves.two {
  transform: translateY(10%);
}

.leaves.four {
  height: 10rem;
  width: auto;
}


.myButton {
  background-color: transparent;
  backdrop-filter: blur(0.7rem);
  border-radius: 3rem;
  border: 1px solid rgba(245, 215, 170, 0.5);
  box-shadow: 0 1.5rem 1rem -0.25rem black,
  inset 0 0 0.25rem rgba(245, 215, 170, 0.6);
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 2;
  color: rgb(245, 215, 170);
  font-family: Arial;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 1rem 3rem;
  text-decoration: none;
  transition: box-shadow 0.5s ease-in-out, backdrop-filter 0.5s ease ;
}

.myButton:hover,
.myButton:active {
  box-shadow: 0 0.5rem 1rem 0.25rem black;
  background-color: transparent;
  backdrop-filter: blur(0.2rem);
}